html {
  --primary-color: rgb(32, 126, 66);
  --primary-color-light: rgb(22 163 74);
}

body {
  font-family: "Roboto", sans-serif;
}

/* Set the custom scrollbar for the whole web application */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color-light) transparent;
}

/* For WebKit-based browsers (Chrome, Safari, etc.) */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary-color-light);
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color);
}

#messages {
  background-image: url("./img/clouds.png")
}
.myBody {
  display: flex;
  flex-direction: column;
  background-color: #072f57;
  color: white;
  height: 100vh;
  width: 100vw;
  gap: 0.75rem;
}
.userNameAlignment {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding-left: 2rem;
  display: flex;
  align-items: center;
}
.userNameBox{
  display: flex;
  flex-direction:column;
  background-color: #919396;
  width: 100%;
  border-radius: 0.5rem;
  padding: 1rem;
  gap: 1rem;
}
.userNameText {
  font-weight: bold; 
  align-self:normal;
}
.userStat {
  display: flex;
  flex-direction: column;
  gap: 1rem; 
}
.inputBox {
  display: flex;
  border-radius: 0.5rem;
}
.inputUser {
  height: 3rem; 
  background-color: #374151;
  color: white;
  padding: 1rem;
  transition: transform 0.2s;
  border-radius: 0.5rem;
}
.userButton {
  height: 3rem;
  background-color: #00a64a;
  color: white;
  padding: 1rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 0.5rem;
}
.userButton:hover {
  background-color: #007a3b;
}
.myHeaderAlignment {
  display: flex;
  justify-content: center;
  align-items:center;
  height: 3.5rem;
  flex-shrink: 0;
  padding-top: 0.75rem;
}
.myTitle {
  font-weight: bold;
  font-size: 2rem;
}
.myMain {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  overflow-y: auto;
}
.myChatWindow {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  overflow-y: auto;
  max-width: 48rem;
  padding: 1rem 0.5rem;
  background-color: #687586;
  border-radius: 0.5rem;
  gap: 1rem;
  padding-bottom: 2rem;
}
.myTextAlignment {
  display: flex;
  justify-content: center;
  height: 3rem;
  flex-shrink: 0;
}
.myTextBox {
  display: flex;
  flex-grow: 1;
  max-width: 48rem;
  border-radius: 0.5rem;
  }

.myEnterMessage {
  height: 3rem;
  background-color: #374151;
  color: white;
  padding: 1rem;
  transition: transform 0.2s;
  width: 36rem;
  border-radius: 0.5rem;
  
}
.mySendButton {
  height: 3rem;
  background-color: #00a64a; 
  color: white;
  padding: 1rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  width: 12rem;
  border-radius: 0.5rem;
  
}

.mySendButton:hover {
  background-color: #007a3b;
}
.myFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  flex-shrink: 0;
}




